---
import SectionTitle from '../ui/SectionTitle.astro';
import TeamCard from '../ui/TeamCard.astro';
import Section from './Section.astro';

import ema from '../../assets/pics/ema.png';
import santi from '../../assets/pics/santi.png';
import fede from '../../assets/pics/fede.png';
import tebi from '../../assets/pics/tebi.png';
import joa from '../../assets/pics/joa.png';
import juli from '../../assets/pics/juli.png';

const description =
  'Meet the skilled and experienced team behind our successful digital marketing strategies';

const team = [
  {
    pic: tebi,
    name: 'Esteban Barret',
    role: 'CEO',
    description: 'Comunmente conocido como Tebi',
  },
  {
    pic: joa,
    name: 'Joaquin Fontana',
    role: 'CEO',
    description: 'Conoces a Kratos, bueno aca lo tenes en persona',
  },
  {
    pic: juli,
    name: 'Julian Lado',
    role: 'CEO',
    description: 'Nunca vas a conocer su depto, pero es buena persona',
  },
  {
    pic: santi,
    name: 'Santiago Canti',
    role: 'CEO',
    description: 'Pensando en vivir en comprar un terreno y cultivar lechugas',
  },
  {
    pic: ema,
    name: 'Emanuel Suriano',
    role: 'CEO',
    description:
      'Tiene problemas de concentracion, y le gusta perder el tiempo haciendo paginas como esta',
  },
  {
    pic: fede,
    name: 'Federico Casabona',
    role: 'CEO',
    description: 'Quizas haya jugado mas RPG que la media del mundo',
  },
];
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10 pb-2"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
          />
        ))
      }
    </div>
  </div>
</Section>
